.wrapper{
	width:860px;
	margin: 0px auto;


}


#slider{
	width:860px;
	height: 540px;
	overflow:hidden;
	margin: 30px auto; 
}

#slider>img{
	width:860px;
	height: 540px;
	float: left;
	display: none;

}

a{
	padding:5px 10px;
	margin-top: 30px;
	text-decoration: none;
	color: grey;

}

a.left{
	float:left;
}

a.right{
	float:right;
}